.App {
  text-align: center;
}

/* FONT & COLORS */
.mont-reg {
  font-family: Montserrat-Regular;
  color: #ffffff;
}
.mont-bold {
  font-family: Montserrat-Bold;
  color: #ffffff;
}

.mont-bold-gray {
  font-family: Montserrat-Bold;
  color: #787878;
}

.shadow {
  text-shadow: 2px 2px #445953;
}

.landing {
  background: url("./images/WHproofbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(0.664 * 100vw);
  text-align: right;
}
/* @media only screen and (max-width: 1776px) {
  .landing {
    height: 120vw;
  }
} */

.landing-text {
  height: calc(0.664 * 100vw);
  display: flex;
  flex-direction: column;
}

.welcome {
  font-size: 5vw;
  margin-top: 1.6em;
  margin-right: 1.3em;
}

.welcome2 {
  font-size: 4vw;
  margin-right: 2em;
  margin-top: 0.2em;
}

.intro-para {
  font-size: 3.5vw;
  width: 40vw;
  margin-left: 50vw;
  margin-top: 5em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.second-base {
  background-color: #957274;
}

.current-home-text {
  font-size: 5.7vw;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.slider {
  margin: auto;
  width: 80vw;
  border: 0.4em solid #d8b765;
  border-radius: 0.2em;
}

.main-house-card {
  padding-top: 2em;
}

.house-address {
  width: 80vw;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  font-size: 4vw;
  margin: auto;
}

.line {
  border-bottom: solid 0.4em #d8b765;
  width: 60vw;
  margin: auto;
}

.second-base-bottom {
  padding-top: 3em;
}

.house-descrip {
  width: 80vw;
  padding-top: 2.5em;
  padding-bottom: 1em;
  font-size: 2.5vw;
  line-height: 1.3em;
  margin: auto;
}
/* @media only screen and (min-width: 400px) {
  .house-descrip {
    padding-top: 10vw;
  } */

.main-steps {
  padding-top: 0.2em;
  background-color: #76a8b2;
}

.easy-steps {
  padding-top: 1.7em;
  font-size: 4.5vw;
  padding-bottom: 1em;
}

.step1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-num {
  background: #445953;
  text-shadow: 6px 6px #76a8b2;
  border-radius: 25vw;
  width: 25vw;
  height: 25vw;
  font-size: 17vw;
  line-height: 24vw;
}
.step-main {
  width: 50vw;
  padding: 4vw;
}

.step-title {
  font-size: 4vw;
  padding-bottom: 3vw;
}

.yel-shadow-title {
  text-shadow: 2px 2px #957274;
}
.yel-shadow-body {
  font-size: 2.5vw;
  padding-bottom: 3vw;
  line-height: 1.2em;
  text-shadow: 1.5px 1.5px #957274;
}

.step-body {
  font-size: 2.5vw;
  padding-bottom: 3vw;
  line-height: 1.2em;
  text-shadow: 1.5px 1.5px #445953;
}

/* STEP 2 */

.step2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d8b765;
}

.step-num2 {
  background: #957274;
  text-shadow: 6px 6px #d8b765;
  border-radius: 25vw;
  width: 25vw;
  height: 25vw;
  font-size: 17vw;
  line-height: 24vw;
}

/* STEP 3 */

.step3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #445953;
}

.step-num3 {
  background: #d8b765;
  text-shadow: 6px 6px #445953;
  border-radius: 25vw;
  width: 25vw;
  height: 25vw;
  font-size: 17vw;
  line-height: 24vw;
}

/* STEP 4 */

.step4 {
  display: flex;
  justify-content: center space-between;
  align-items: center;
  background: #76a8b2;
  position: relative;
  z-index: 99;
}

.step-main4 {
  width: 50vw;
  padding: 6vw;
  text-shadow: 1.5px 1.5px #445953;
  padding-bottom: 2vw;
}

.step-title4 {
  font-size: 5vw;
  padding-bottom: 3vw;
}

.left-flag {
  width: 20vw;
}

.right-flag {
  width: 20vw;
  transform: rotatey(180deg);
  overflow-x: hidden;
}

.single-flag {
  width: 0vw;
}

.fb-a-link {
  text-decoration: none;
  color: inherit;
}

.fb-icon {
  color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: auto;
  padding: 3vw;
}

.fb-icon:hover {
  color: #fff;
  cursor: pointer;
}

/* ===========================================
Mobile
=====================================================} */

@media screen and (max-width: 500px) {
  .welcome {
    font-size: 6vw;
    margin-top: 1.6em;
    margin-right: 1.3em;
  }

  .welcome2 {
    font-size: 5vw;
    margin-right: 2em;
    margin-top: 0.2em;
  }

  .intro-para {
    font-size: 4.5vw;
    width: 50vw;
    margin-left: 45vw;
    margin-top: 3em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .current-home-text {
    font-size: 6vw;
    padding-top: 0.7em;
  }

  .house-address {
    width: 80vw;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 7vw;
    margin: auto;
    line-height: 1.1em;
  }

  .house-descrip {
    width: 80vw;
    padding-top: 3.5em;
    padding-bottom: 0.8em;
    font-size: 4vw;
    line-height: 1.3em;
    margin: auto;
  }

  .main-steps {
    padding-top: 0.2em;
    background-color: #76a8b2;
  }

  .easy-steps {
    padding-top: 1.7em;
    font-size: 4.5vw;
    padding-bottom: 1em;
  }

  .step1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .step-num {
    background: #445953;
    text-shadow: 4px 4px #76a8b2;
    border-radius: 25vw;
    width: 25vw;
    height: 25vw;
    font-size: 17vw;
    line-height: 24vw;
    margin-top: 5vw;
  }
  .step-main {
    width: 85vw;
    padding: 4vw;
  }

  .step-title {
    font-size: 6vw;
    padding-bottom: 3vw;
  }

  .yel-shadow-title {
    text-shadow: 2px 2px #957274; 
  }
  .yel-shadow-body {
    font-size: 3.5vw;
    padding-bottom: 3vw;
    line-height: 1.2em;
    text-shadow: 1px 1px #957274;
  }

  .step-body {
    font-size: 3.5vw;
    padding-bottom: 3vw;
    line-height: 1.2em;
    text-shadow: 1px 1px #445953;
  }

  /* STEP 2 */

  .step2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: #d8b765;
  }

  .step-num2 {
    background: #957274;
    text-shadow: 4px 4px #d8b765;
    border-radius: 25vw;
    width: 25vw;
    height: 25vw;
    font-size: 17vw;
    margin-top: 5vw;
    line-height: 24vw;
  }

  /* STEP 3 */

  .step3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #445953;
  }

  .step-num3 {
    background: #d8b765;
    text-shadow: 4px 4px #445953;
    border-radius: 25vw;
    width: 25vw;
    height: 25vw;
    font-size: 17vw;
    line-height: 24vw;
    margin-top: 5vw;
  }

  /* STEP 4 */

  .step4 {
    display: flex;
    flex-direction: column;
    justify-content: center space-between;
    align-items: center;
    background: #76a8b2;
    position: relative;
    z-index: 99;
  }

  .step-main4 {
    width: 85vw;
    padding: 6vw;
    text-shadow: 1.5px 1.5px #445953;
    padding-bottom: 2vw;
  }

  .step-title4 {
    font-size: 6vw;
    padding-bottom: 3vw;
  }

  .left-flag {
    width: 0vw;
  }

  .right-flag {
    width: 0vw;
    transform: rotatey(180deg);
  }

  .single-flag {
    width: 30vw;
    margin-top: 5vw;
  }
}
/* 
  TESTING +++++++++++++++++++++++++VVVVVVV */

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ===================================
ADMIN PAGE
=================================== */

.admin {
  background: #76a8b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.admin-title {
  font-size: 3vw;
  border-bottom: 0.2em solid #d8b765;
  margin: 2em;
  padding: 0.5em;
}

.album-card {
  border: #d8b765 solid 0.2em;
}

.album-cover {
  height: 25vw;
  width: 25vw;
  border: 0.2em solid #d8b765;
}

/* ALBUMS====================================== */

.album {
  min-height: 100vh;
  background: #957274;
  border: 0.2em solid #445953;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}
.album-div {
  width: 85vw;
}

.listing {
  font-size: 3vw;
  margin: 2em;
}

.single-image {
  height: 20vw;
  width: 20vw;
  border: 0.2em solid #d8b765;
}

.album-title {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

.back-button {
  margin-top: -5vw;
  margin-bottom: 3vw;
}

.uploader {
  padding-bottom: 5vw;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.pic-submit {
  display: "flex";
  flex-direction: column;
}

.info-submit {
  margin: 1em;
  color: #445953;
}

.fire-addy {
  font-size: 3vw;
  border-bottom: 0.2em solid #d8b765;
  margin-top: 2em;
}

.fire-dets {
  width: 65vw;
  margin: auto;
}

.input-form {
  color: #445953;
  width: 50vw;
  margin: auto;
}

.input-details {
  height: 80px;
  margin-top: 3px;
}
